.desk {
  display: none;
  &-main__title {
    width: 280px;
    padding: 14px 0 30px;
    font-family: "BebasNeue", Helvetica, Arial;
    font-weight: 700;
    font-size: 38px;
    line-height: 100%;
    color: $blue;
    cursor: pointer;
  }
  &-mobile {
    position: relative;
  }
  &-mobile__button {
    width: 61.15px;
    height: 61.15px;
    border-radius: 50%;
    font-size: 12.2752px;
    background: #a6ffff;
    cursor: pointer;
  }
  &-mobile__image-up {
    padding-top: 50px;
  }
  &-mobile__image-down {
    position: absolute;
    top: 205px;
    left: 1px;
  }
  &-mobile__wrapper {
    position: absolute;
    top: 200px;
    left: 85px;
  }
  &-mobile__button--up {
    margin-right: 22px;
  }
  &-main__text--down {
    margin-top: 135px;
    margin-bottom: 15px;
  }
}

@media (min-width: 1900px) {
  .main {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 140px;
  }
  .desk {
    display: block;
    width: 862px;
    position: relative;
    &-main {
      padding-left: 70px;
    }
    &-main__title {
      width: 500px;
      padding: 0 0 50px;
      font-family: "Ubuntu", Helvetica, Arial;
      font-weight: 300;
      font-size: 62px;
    }
    &-main__text {
      font-size: 22px;
      width: 500px;
    }
    &__image {
      position: relative;
    }
    &__image-down {
      position: absolute;
      top: 437px;
      left: -17px;
    }
    &__wrapper {
      display: flex;
      position: absolute;
      top: 405px;
      left: 199px;
    }
    &__button {
      width: 200.22px;
      height: 200.22px;
      border-radius: 50%;
      font-size: 40.1944px;
      background: #a6ffff;
      cursor: pointer;
    }
    &__button--down {
      margin-right: 74px;
    }
    &-main__text--down {
      margin-top: 50px;
    }
    &-mobile {
      display: none;
    }
  }
}
