html {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

nav,
footer,
header {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  color: #181818;
  font-family: "Ubuntu", Helvetica, Arial;  
  font-weight: 300;
  font-size: 16px;
  line-height: 170%;
  background: #F3F3F3;
}

.container {
  width: 320px;
  padding: 0 12px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 1900px) {
  .container {
    width: 1850px;
    padding: 0 25px;
  }
}
