.body {
  background: #181818;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: $white;
}

.voice {
  display: grid;
  place-items: center;
  &-desktop {
    display: none;
  }
  &-text__title {
    padding-top: 20px;
    width: 228px;
    font-size: 34px;
    line-height: 100%;
  }
  &-text__text {
    width: 290px;
  }
  &-text__text--first {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  &-girl {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  &-girl__wrapper {
    animation: 1s ease-out 1s appear;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }

  &-girl__image {
    animation: 2s ease-in-out 2s fly;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
  }

  &__hole {
    position: relative;
    top: -30px;
    width: 200px;
    height: 60px;
    background-color: #000000;
    border-radius: 70%;
    animation: 2.5s ease-out 0s hole;
    animation-fill-mode: both;
    animation-iteration-count: 1;
  }
  &-help {
    position: relative;
    width: 413px;
    margin: 0 auto;
  }
  &-help__image {
    position: absolute;
    top: 0;
    left: -15px;
  }
  &-say {
    padding-top: 450px;
    padding-bottom: 50px;
    font-weight: 900;
    font-size: 38.6546px;
    line-height: 90%;
  }
  &-say__text2 {
    font-weight: 400;
    font-size: 61.4163px;
    line-height: 90%;
  }
  &-say__text3 {
    font-weight: 900;
    font-size: 49.8561px;
    line-height: 90%;
  }
}

@media (min-width: 1900px) {
  .body {
    background-image: url(../images/Vector.png);
    font-size: 22px;
  }

  .voice {
    display: grid;
    place-items: center;
    padding-left: 130px;
    &-mobile {
      display: none;
    }
    &-desktop {
      padding-top: 60px;
      display: flex;
      justify-content: start;
    }
    &-text__title {
      padding-top: 35px;
      width: 400px;
      font-size: 56px;
      line-height: 120%;
    }
    &-text__text {
      width: 586px;
    }
    &-text__text--first {
      padding-top: 90px;
      padding-bottom: 50px;
    }

    &__hole {
      position: relative;
      top: 0;
    }
    &-help {
      position: relative;
      width: auto;
    }
    &-help__image {
      position: relative;
      top: 0;
      left: 0;
    }
    &-say {
      padding-top: 90px;
      padding-bottom: 50px;
      font-size: 44.7911px;
    }

    &-say__text3 {
      font-weight: 900;
      font-size: 61.4163px;
    }
  }
}

@keyframes hole {
  0% {
    transform: scale(0);
  }

  66% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.6);
  }
}

@keyframes appear {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fly {
  0% {
    transform: translateY(0);
  }

  66% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}
